# KallistiOS Toolchain Builder (kos-chain)

#########################
### TOOLCHAIN PROFILE ###
#########################

# One of the supported platforms:
# - dreamcast:      Build a toolchain for the SEGA Dreamcast
# - aica:           Build a toolchain for the Dreamcast's AICA co-processor
# - gamecube:       Build a toolchain for the Nintendo GameCube
# - playstation2:   Build a toolchain for the PlayStation 2 Emotion Engine
# - iop:            Build a toolchain for the PlayStation 2 I/O Processor
# - dvp:            Build a toolchain for the PlayStation 2 Vector Processing Unit
platform=playstation2

# Choose a toolchain profile from the following available options:
# - stable:       Stable: Well-tested; based on GCC 15.2.0, released 2025-08-08.
# If unsure, select stable. See README.md for more detailed descriptions.
toolchain_profile=stable

########################
### DOWNLOAD OPTIONS ###
########################

### Download protocol (http|https|ftp)
# Specify the protocol you want to use for downloading package files.
download_protocol=https

### Force downloader (curl|wget)
# Specify here if you'd prefer to use 'wget' or 'curl'. If neither is specified,
# a web downloader tool will be auto-detected in the following order: cURL, Wget
# You must have either Wget or cURL installed to use kos-chain.
#force_downloader=wget

### Specify GNU mirror override
# The default mirror for GNU sources is 'ftpmirror.gnu.org'
# This setting overrides the default mirror with a preferred mirror.
#gnu_mirror=mirrors.kernel.org

#####################
### BUILD OPTIONS ###
#####################

### Toolchains install path
# Specify the directory where the toolchains will be installed. This setting
# must match the KOS_CC_BASE setting in your KOS "environ.sh" configuration.
toolchain_path=/opt/toolchains/ps2/mips-elf

### Make jobs (n|<empty>)
# Set this value to the number of parallel jobs you want to run with make.
# Leave it empty to use a number of parallel jobs that corresponds to the
# number of CPU threads available.
# Using multiple jobs may cause issues in certain environments and may be
# automatically disabled. If you encounter errors building your toolchain,
# reduce the number of jobs to 1 to avoid issues and ease troubleshooting.
makejobs=

### Verbose (1|0)
# Choose whether to actively display compilation messages on the screen.
# Messages are saved to the build log files regardless of this setting.
verbose=1

### Erase (1|0)
# Erase build directories as toolchain components are installed to save space.
erase=1

### Install toolchain debug symbols (1|0)
# Choose whether to keep the debugging symbols for the toolchain.
# This is only useful if you wish to debug the toolchain itself.
#toolchain_debug=1

########################
### LANGUAGE OPTIONS ###
########################

### Enable C++
# Builds C++ support, including the C++ compiler and its standard library.
enable_cpp=1

### Enable Objective-C
enable_objc=0

### Enable Objective C++
enable_objcpp=0

### Enable D
#enable_d=1

### Enable Ada
#enable_ada=1

### Enable Rust
#enable_rust=1

### Enable libgccjit
#enable_libgccjit=1

###################
### GCC OPTIONS ###
###################

### GCC threading model (single|kos)
# KallistiOS patches to GCC provide a 'kos' thread model, which should be used.
# If you want to disable threading support for C++, Objective-C, and so forth,
# you can set this option to 'single'.
thread_model=kos

### Automatic patching for KallistiOS (1|0)
#use_kos_patches=0

### Disable GCC Native Language Support (1|0)
#disable_nls=1

######################
### NEWLIB OPTIONS ###
######################

### Automatic patching for Newlib (1|0)
#auto_fixup_newlib=0

### C99 format specifier support (1|0)
newlib_c99_formats=1

### Multibyte character set support (1|0)
#newlib_multibyte=1

### iconv() character encoding conversions support (encoding list)
#newlib_iconv_encodings=us_ascii,utf8,utf16,ucs_2_internal,ucs_4_internal

### Optimize Newlib for space (1|0)
#newlib_opt_space=1

###################
### C++ OPTIONS ###
###################

### Timezone database support (1|0|path)
#libstdcxx_tzdb=1

#######################
### WINDOWS OPTIONS ###
#######################

### MinGW/MSYS
# Standalone binaries (1|0)
#standalone_binary=1

### Force installation of BFD (1|0)
#sh_force_libbfd_installation=1
