# KallistiOS Toolchain Builder (kos-chain)

#########################
### TOOLCHAIN PROFILE ###
#########################

# One of the supported platforms:
# - dreamcast:      Build a toolchain for the SEGA Dreamcast
# - aica:           Build a toolchain for the Dreamcast's AICA co-processor
# - gamecube:       Build a toolchain for the Nintendo GameCube
# - playstation2:   Build a toolchain for the PlayStation 2 Emotion Engine
# - iop:            Build a toolchain for the PlayStation 2 I/O Processor
# - dvp:            Build a toolchain for the PlayStation 2 Vector Processing Unit
platform=dvp

# Choose a toolchain profile from the following available options:
# - stable:       Stable: Well-tested; based on Binutils 2.45.1.
# If unsure, select stable. See README.md for more detailed descriptions.
toolchain_profile=stable

########################
### DOWNLOAD OPTIONS ###
########################

### Download protocol (http|https|ftp)
download_protocol=https

### Force downloader (curl|wget)
#force_downloader=wget

### Specify GNU mirror override
#gnu_mirror=mirrors.kernel.org

#####################
### BUILD OPTIONS ###
#####################

### Toolchains install path
toolchain_path=/opt/toolchains/ps2/dvp-elf

### Make jobs (n|<empty>)
makejobs=

### Verbose (1|0)
verbose=1

### Erase (1|0)
erase=1

### Install toolchain debug symbols (1|0)
#toolchain_debug=1
